article{
    margin-left: 308px;
    margin-right: 308px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mandatory-field{
    color: red;
}