<head>
    <link rel="stylesheet" href="../static/style/index_style.css">
    <link rel="stylesheet" href="../static/style/event_details.css">
  </head>

{% extends 'base.html' %}

{% import "bootstrap5/form.html" as wtf %}

{% block content %}

<!-- Event --> 
    <!-- <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="media">  
              <img class="align-self-start mr-3" src="{{event.image}}">  
              <div class="media-body">  
                <small class="font-weight-bold text-muted">Event details go here</small>  
                <h5 class="mt-0">{{event.name}}</h5>  
                {% if event.eventState != "Open" %}
                  <p>Event Unavaliable</p>
                {% else %}
                  {% set tickets_avaliable = event.ticketCapacity - event.ticketsSold %}
                  <p>Tickets Avaliable: {{ tickets_avaliable }}</p>
                  {{wtf.render_form(purchase_form,"/events/{0}/purchase".format(event.id))}} 
                {% endif %}
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>      -->

    <!-- Jumbotron to display the event image. -->
    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis"></h1>
        <img src="{{event.image}}" alt="Event Image">
      </div>
    </div>
 
   <!-- Event Information -->
   <div class="container-fluid">
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1">{{event.name}}</h2>
      <p class="blog-post-meta">{{event.eventDate}} {{event.eventTime}}</p>
      <hr>
      <h2>About this Event</h2>
      <p>{{event.description}}</p>
      <h2>Location</h2>
      <p>{{event.address1}}, {{event.address2}}</p>
      <p>{{event.city}} {{event.state}} {{event.postcode}}</p>
      <hr>
    </article>
  </div>
 

  <!-- Booking Form -->
  <div class="container-fluid">
    <article class="blog-post">
      <h2>Book Now</h2>
      <form>
        {% if event.eventState != "Open" %}
                  <p>Event Unavaliable</p>
                {% else %}
                  {% set tickets_avaliable = event.ticketCapacity - event.ticketsSold %}
                  <p>Tickets Avaliable: {{ tickets_avaliable }}</p>
                  {{wtf.render_form(purchase_form,"/events/{0}/purchase".format(event.id))}} 
                {% endif %}
      </form>
      <hr>
    </article>
  </div>
 
  <!-- Comment Section -->
  <div class="container-fluid">
    <article class="blog-post">
      <h2>Comments</h2>
      <div class="mb-3">
        {{wtf.render_form(comment_form,"/events/{0}/comment".format(event.id))}} 
      </div>
      
      <h2>All Comments</h2>
      <div class="mb-4 box-shadow">
        <div class="card-body">
          {% for comment in event.comments %}
      <div class="col-md-12">
        <h5>{{comment.user.name}}</h5>
        <small class="text-muted">Published {{ comment.created_at.strftime("%d/%m/%Y at %I:%M %p")}}</small>
        <p>{{comment.text}}</p>  
        <hr>
      </div> 
      {% endfor %} 
        </div>
      </div>
    </article>
  </div>

  <!-- More events like this -->
  <div class="container-fluid">
    <article class="blog-post">

    </article>
  </div>

{% endblock %}
