<head>
    <link rel="stylesheet" href="../static/style/index_style.css">
    <link rel="stylesheet" href="../static/style/event_details.css">
  </head>

{% extends 'base.html' %}

{% import "bootstrap5/form.html" as wtf %}

{% block content %}

    <!-- Jumbotron to display the event image. -->
    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis"></h1>
        <img src="{{event.image}}" alt="Event Image">
      </div>
    </div>
 
   <!-- Event Information -->
   <div class="container-fluid">
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1">{{event.name}}</h2>
      <p class="blog-post-meta">{{event.eventDate}} {{event.eventTime}}</p>
      <hr>
      <h2>About this Event</h2>
      <p>{{event.description}}</p>
      <h2>Location</h2>
      <p>{{event.address1}}, {{event.address2}}</p>
      <p>{{event.city}} {{event.state}} {{event.postcode}}</p>
      <hr>
    </article>
  </div>
 

  <!-- Booking Form -->
  <div class="container-fluid">
    <article class="blog-post">
      <h2>Book Now</h2>
      <form>
        {% if event.eventState != "Open" %}
                  <p>Event Unavaliable</p>
                {% else %}
                  {% set tickets_avaliable = event.ticketCapacity - event.ticketsSold %}
                  <p>Tickets Avaliable: {{ tickets_avaliable }}</p>
                  {{wtf.render_form(purchase_form,"/events/{0}/purchase".format(event.id))}} 
                {% endif %}
      </form>
      <hr>
    </article>
  </div>
 
  <!-- Comment Section -->
  <div class="container-fluid">
    <article class="blog-post">
      <h2>Comments</h2>
      <div class="mb-3">
        {{wtf.render_form(comment_form,"/events/{0}/comment".format(event.id))}} 
      </div>
      
      <h2>All Comments</h2>
      <div class="mb-4 box-shadow">
        <div class="card-body">
          {% for comment in event.comments %}
      <div class="col-md-12">
        <h5>{{comment.user.name}}</h5>
        <small class="text-muted">Published {{ comment.created_at.strftime("%d/%m/%Y at %I:%M %p")}}</small>
        <p>{{comment.text}}</p>  
        <hr>
      </div> 
      {% endfor %} 
        </div>
      </div>
    </article>
  </div>

  <!-- More events like this -->
<div class="container-fluid">
  <article class="blog-post">
    <h2>More {{event.eventCategory}} events</h2>
    <hr>
    <div class="card-group">
      {% for event in genre_events %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <p class="card-text">
              <h4>{{event.name}}</h4>
              <small>{{event.eventDate}} {{event.eventTime}}</small>
              <small class="text-muted red-text"><span class="start-price">Starts at AU ${{event.ticketPrice}}</span></small><br>
              {{event.description}}
            </p>
            <div class="justify-content-between align-items-center">
              <div class="row">
                <div class="col-5">
                  <div class="btn-group">
                    <a href="{{ url_for('event.show', id=event.id) }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View Event</button>
                    </a>
                    {% if event.eventState == "Open" %}
                    <button type="button" class="btn btn-sm btn-success">Open</button>
                    {% elif event.eventState == "Expired" %}
                    <button type="button" class="btn btn-sm btn-danger">Expired</button>
                    {% elif event.eventState == "Sold Out" %}
                    <button type="button" class="btn btn-sm btn-warning">Sold Out</button>
                    {% else %}
                    <button type="button" class="btn btn-sm btn-danger">Cancelled</button>
                    {% endif %}
                  </div>
                </div>
                <div class="col-7">
                  <small class="text-muted">{{event.address1}}, {{event.address2}}, {{event.city}}, {{event.state}}, {{event.postcode}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
</div>

{% endblock %}
